#[[#]]# 欢迎来到 **${project.name}** ！
---

#[[##]]# 项目背景
日常项目开发过程中，经常需要新建项目，但是新项目创建过程耗时费力，并且最终的项目结构、格式、标准、规范等百花齐放，
造成团队项目结构、格式、标准、规范等不统一；因此，需要对团队项目进行统一化、模板化、标准化、规范化的一统性管理、实施。


#[[##]]# 项目目标
作为模板项目，提供日常项目创建的源模板，为提高日常开发效率，以期实现标准化、统一化项目。


#[[##]]# 项目设计
项目设计概述，见下述项目设计架构图：

